# App environment example
# Copy to .env.local and fill values

NEXT_PUBLIC_BASE_URL='https://dev-api.bloomi5.com/api/v1'
NEXT_PUBLIC_STORE_ID=''

# Optional build-time environment
# NODE_ENV=development


